body{
margin:0;
font-family:Arial;
background:#0a0f2c;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.screen{
width:90%;
max-width:400px;
background:#111a3a;
padding:20px;
border-radius:20px;
text-align:center;
box-shadow:0 10px 30px rgba(0,0,0,0.5);
}

.hidden{
display:none;
}

.logo{
font-size:50px;
font-weight:bold;
color:#00a8ff;
}

h1,h2{
margin:10px 0;
}

input{
width:100%;
padding:10px;
margin:8px 0;
border:none;
border-radius:10px;
}

button{
width:100%;
padding:12px;
margin-top:10px;
border:none;
border-radius:10px;
background:#00a8ff;
color:white;
font-weight:bold;
cursor:pointer;
}

.secondary{
background:#333;
}

.card{
background:#1b2550;
padding:10px;
margin-top:10px;
border-radius:10px;
}

.points{
margin-top:15px;
font-size:18px;
}
